%footer.footer
  %img.footer-image{'src'=>'images/footerlogo.png'}
  %img{'src'=>'images/logousaid.png'}
  %p.add-top-separation
    %a.linkfooter{'href'=>'mailto:mexico.abierto@datos.gob.mx'}mexico.abierto@datos.gob.mx
