%div#registro
  %h2.titlebold
    = t('register.title')
  %p
    = t('register.participate')
    %br
    %strong
      = t('register.innovation')
  %a.btn.btn-default{'href' => '#'}
    = t('register.register_now')
