/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
padding-top: 50px;
padding-bottom: 20px;
}*/
/*.body {*/
body {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: #545554;

  padding-top: 50px;
  /*padding-bottom: 20px;*/
}

p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #545554;
}

/* Navbar */
.navbar-inverse {
  background-color: #545554;
  border-color: #545554;
}
.navbar-header{
  margin-top: 12px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 12px;
}

/* Content */
#first{
  text-align: center;
  color: #474747;
  background-color: #EEEEEE;
  padding-top: 75px;
  padding-bottom: 75px;
}

#registro {
  text-align: center;
  background-color: #00CC99;
  padding-top: 75px;
  padding-bottom: 75px;
}

#objetivos {
  text-align: center;
  background-color: #EEEEEE;
  padding-top: 50px;
  padding-bottom: 80px;
}

#herramientas {
  text-align: center;
  background-color: #D4D4D4;
  padding-top: 50px;
  padding-bottom: 80px;
}

#miembros {
  background-color: #00CC99;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

h2.titulo {
  font-weight: 700;
  margin-bottom: 60px;
}

h2 {
  font-weight: 700;
}

h2.titlebold {
  color: #fff;
}
a.btn-default {
  font-family: "Open Sans";
  background-color: #545554;
  color: #fff;
  border-color: #545554;
  font-weight:700;
  font-size: 14px;

}
a.btn.btn-default:hover {
  background-color: #444444;
  border-color: #444444;
  color: #fff;
}
.col-md-4 {
  text-align: center;
}

/* Footer */
.footer {
  background-color: #545554;
  height: 200px;
  text-align: center;
  padding-top: 50px;
}
.add-top-separation {
  margin-top: 20px;
}
.linkfooter {
  color: #00CC99;;
}
.footer-image {
  margin-right: 70px;
}

/* Buttons */
.btn-3d {
  position: relative;
  display: inline-block;
  padding: 20px 60px;
  color: white;
  margin: 0 0 0 -5px;
  text-align: center;
  transition: all .08s linear;
  width: 100%;
}

/* moves button 9px down when clicked */
.btn-3d:active {
  top: 9px;
}

.btn-3d {
  background-color: #333;
  box-shadow:
    0 0 0 1px #333 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 1px rgba(0, 0, 0, 0.2),
    0 8px 0 0 #333;
}

.btn-3d.green {
  background-color: #22D4A7;
  box-shadow:
    0 0 0 1px #22D4A7 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 1px rgba(0, 0, 0, 0.2),
    0 8px 0 0 #15986E;
}

.btn-3d.purple {
  background-color: #6558FB;
  box-shadow:
    0 0 0 1px #6558FB inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 1px rgba(0, 0, 0, 0.2),
    0 8px 0 0 #170F85;
}

.btn-3d:active {
  box-shadow: none;
}


/* Poll */
.container.poll, .container.results { text-align: center }
.poll-action-wrapper {
  padding-top: 20px;
}

.poll-action-wrapper a {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}
ul#options { padding-left: 0; }
ul#options li {
  display: inline-block;
  list-style: none;
  width: 100%;
}

span.versus {
  background-color: #F2F2F2;
  padding: 8px;
  position: relative;
  top: -0.8em;
}
/* Graph */

g.legend text { text-transform: uppercase; }
div.tooltip {
  position: absolute;
  pointer-events: none;
}
.axis text {
  font: 10px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #333;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/* Bar chart */
rect.bar {
  fill: #333; /* fallback */
}
#chart.green rect.bar {
  fill: #22D4A7;
}
#chart.purple rect.bar {
  fill: #6558FB;
}
svg text { font-size: 12px }
svg .axis-label, svg .bar-title { font-size: 10px; }

/* Donut */
.arc text { fill: white }

/* Area chart */
path.area {
  fill: #2DFEFE;
}
path.domain {
  stroke-width: 0;
}
